<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<connectionStrings>
		<add name="MySql_Connection" connectionString="database=zkhwClient;Password=zkhw123;User ID=zkhw;server=47.92.74.93;port=3307;character set=utf8"/>
	</connectionStrings>
</configuration>
